$_main_color: rgba(33, 48, 3, 1);
$_main_bg_color: rgba(231, 172, 56, 1);

$_header_bg_color: rgba(252, 248, 234, 0.4);

$_green_color: rgba(126, 133, 30, 1);
$_red_color: rgba(178, 51, 35, 1);
$_orange_color: rgba(190, 94, 41, 1);
