<section class="privacy">
  <div class="container">
    <h1 class="privacy-title">Privacy Policy</h1>

    <p class="privacy-text">
      This privacy policy applies to the Family Nest: Farm Adventures app
      (hereby referred to as "Application") for mobile devices that was created
      by (hereby referred to as "Service Provider") as a Free service. This
      service is intended for use "AS IS".
      <span class="privacy-text-bold">Information Collection and Use</span
      ><br />
      The Application collects information when you download and use it. This
      information may include information such as
    </p>

    <ul class="privacy-list">
      <li class="privacy-item">
        Your device's Internet Protocol address (e.g. IP address)
      </li>
      <li class="privacy-item">
        The pages of the Application that you visit, the time and date of your
        visit, the time spent on those pages
      </li>
      <li class="privacy-item">The time spent on the Application</li>
      <li class="privacy-item">
        The operating system you use on your mobile device
      </li>
    </ul>

    <p class="privacy-text">
      The Application does not gather precise information about the location of
      your mobile device.
    </p>

    <p class="privacy-text">
      The Service Provider may use the information you provided to contact you
      from time to time to provide you with important information, required
      notices and marketing promotions.
    </p>

    <p class="privacy-text">
      For a better experience, while using the Application, the Service Provider
      may require you to provide us with certain personally identifiable
      information. The information that the Service Provider request will be
      retained by them and used as described in this privacy policy.<br />
      <span class="privacy-text-bold">Third Party Access</span><br />
      Only aggregated, anonymized data is periodically transmitted to external
      services to aid the Service Provider in improving the Application and
      their service. The Service Provider may share your information with third
      parties in the ways that are described in this privacy statement.
    </p>
  </div>
</section>
