<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <h3 class="animated-footer">
        Create your dream farm and <span>make memories </span> that last a
        lifetime!
      </h3>
      <nav class="footer-nav animated-footer">
        <ul class="footer-list">
          <li class="footer-item">
            <a href="./privacy.html" class="footer-link">Privacy Policy</a>
          </li>
          <li class="footer-item">
            <a href="./terms.html" class="footer-link">Terms & Conditions</a>
          </li>
        </ul>
      </nav>
      <p class="footer-reserved animated-footer">
        ©<span id="year"></span> StarBurstPlayWin.com All Rights Reserved
      </p>

      <script>
        document.getElementById('year').textContent = new Date().getFullYear();
      </script>
    </div>
  </div>
</footer>
