<section class="gallery" id="gallery">
  <div class="gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-slider-container">
      <div class="gallery-chicken-body">
        <img
          src="/images/Advantages/small-chicken.png"
          alt="image of small chicken"
        />
      </div>
      <ul class="gallery-list">
        <li class="gallery-item">
          <figure class="gallery-image1">
            <img
              src="/images/gallery/image1.jpg"
              alt="image of screenshot"
              loading="lazy"
            />
          </figure>
        </li>
        <li class="gallery-item">
          <figure class="gallery-image1">
            <img
              src="/images/gallery/image2.jpg"
              alt="image of screenshot"
              loading="lazy"
            />
          </figure>
        </li>
        <li class="gallery-item">
          <figure class="gallery-image1">
            <img
              src="/images/gallery/image3.jpg"
              alt="image of screenshot"
              loading="lazy"
            />
          </figure>
        </li>
        <li class="gallery-item">
          <figure class="gallery-image1">
            <img
              src="/images/gallery/image4.jpg"
              alt="image of screenshot"
              loading="lazy"
            />
          </figure>
        </li>
        <li class="gallery-item">
          <figure class="gallery-image1">
            <img
              src="/images/gallery/image5.jpg"
              alt="image of screenshot"
              loading="lazy"
            />
          </figure>
        </li>
      </ul>
    </div>
    <div class="gallery-eggs">
      <button type="button" class="left-button"></button>
      <svg class="gallery-egg" width="30" height="30" viewBox="0 0 24 24">
        <path
          d="M12 2C9 2 6 8 6 12C6 16 9 20 12 20C15 20 18 16 18 12C18 8 15 2 12 2Z"
        />
      </svg>
      <svg class="gallery-egg" width="30" height="30" viewBox="0 0 24 24">
        <path
          d="M12 2C9 2 6 8 6 12C6 16 9 20 12 20C15 20 18 16 18 12C18 8 15 2 12 2Z"
        />
      </svg>
      <svg class="gallery-egg" width="30" height="30" viewBox="0 0 24 24">
        <path
          d="M12 2C9 2 6 8 6 12C6 16 9 20 12 20C15 20 18 16 18 12C18 8 15 2 12 2Z"
        />
      </svg>
      <svg class="gallery-egg" width="30" height="30" viewBox="0 0 24 24">
        <path
          d="M12 2C9 2 6 8 6 12C6 16 9 20 12 20C15 20 18 16 18 12C18 8 15 2 12 2Z"
        />
      </svg>

      <button type="button" class="right-button"></button>
    </div>
  </div>
</section>
