<header class="header">
  <div class="container">
    <div class="container container-header">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#about-game">About the Game</a>
          </li>
        </ul>

        <div class="logo-container">
          <img
            class="logo-img"
            src="../assets/images/header/logo-icon.png"
            alt="Main logo icon"
          />
          <h3 class="logo-title">Family Nest: Farm Adventures</h3>
        </div>

        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Advantages</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="./index.html">Gallery</a>
          </li>
        </ul>

        <button type="button" class="nav-btn">
          <img
            class="nav-burger"
            src="../assets/images/header/burger-menu.png"
            alt=""
          />
        </button>
      </nav>
    </div>
  </div>
</header>
