@import url(../assets/styles/sections/header.scss);
@import url(../assets/styles/sections/hero.scss);
@import url(../assets/styles/sections/about.scss);
@import url(../assets/styles/sections/advantages.scss);
@import url(../assets/styles/sections/gallery.scss);
@import url(../assets/styles/sections/start.scss);
@import url(../assets/styles/sections/footer.scss);

@import url(../assets/styles/pages/pages-header.scss);
@import url(../assets/styles/pages/privacy.scss);
@import url(../assets/styles/pages/terms.scss);

@font-face {
  font-family: 'Acme';
  src: url('../assets/fonts/Acme-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
:root {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(33, 48, 3, 1);
  background-color: rgba(231, 172, 56, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
