@import './header.scss';

@font-face {
  font-family: 'Acme';
  src: url('../assets/fonts/Acme-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
}
h1,
h2,
h3,
.heading {
  font-family: 'Acme', sans-serif;
  font-weight: 400;
}
